// Navigation code here

.navigation{
    .navformat();
    width: 100%;
    height: 100%;
    background-color: @nav-border;
    padding-bottom: 2%;
    
}

h1{
    .h1style();    
}

nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
    
}
nav a{
    width: 100%;
    font-size: 2rem;
    color: @nav-font;
    text-decoration: none;
}